<h1><b>Angular Directives</b></h1>
<p>Angular facilitates you to extend HTML with new attributes. These attributes are called directives.</p>
<p>There is a set of built-in directive in Angular which offers functionality to your applications. You can also define
    your own directives.</p>
<p>Directives are special attributes starting with ng- prefix. Following are the most common directives:</p>
<ul>
    <li>
        ng-app: This directive starts an Angular Application.
    </li>
    <li>
        ng-init: This directive initializes application data.
    </li>
    <li>
        ng-model: This directive defines the model that is variable to be used in Angular.
    </li>
    <li>
        ng-repeat: This directive repeats html elements for each item in a collection.
    </li>
</ul>
<br>
<h1><b>Angular Directives List</b></h1>
<p>AnglarJS directives are used to add functionality to your application. You can also add your own directives for your
    applications.</p>
<p>Following is a list of Angular directives:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Directive</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ng-app</td>
            <td>It defines the root element of an application.</td>
        </tr>
        <tr>
            <td>ng-bind</td>
            <td>It binds the content of an html element to application data.</td>
        </tr>
        <tr>
            <td>ng-bind-html</td>
            <td>It binds the inner HTML of an HTML element to application data, and also removes dangerous code from the
                html string.</td>
        </tr>
        <tr>
            <td>ng-bind-template</td>
            <td>It specifies that the text content should be replaced with a template.</td>
        </tr>
        <tr>
            <td>ng-if</td>
            <td>It removes the html element if a condition is false.</td>
        </tr>
        <tr>
            <td>ng-include</td>
            <td>It includes html in an application.</td>
        </tr>
        <tr>
            <td>ng-init</td>
            <td>It defines initial values for an application.</td>
        </tr>
        <tr>
            <td>ng-form</td>
            <td>It specifies an html form to inherit controls from.</td>
        </tr>
        <tr>
            <td>ng-model</td>
            <td>It binds the value of html controls to application data.</td>
        </tr>
    </tbody>
</table>